<div class="submit block">
  <h2 class="odd">New Submission</h2>
  <!-- amount, description, receipt, type-->
  <h4 class="problem" *ngIf="submissionFailure">Submission failed. Please try again.</h4>

    <div class="amount-block">
      <label class="even" for="amount">Amount</label>
      <input id="amount" type="text" [(ngModel)]="amount">
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button *ngIf="type!=1" type="button" class="btn btn-outline-primary" (click)="type=1">Lodging</button>
        <button *ngIf="type==1" type="button" class="btn btn-primary">Lodging</button>
        <button *ngIf="type!=2" type="button" class="btn btn-outline-success" (click)="type=2">Travel</button>
        <button *ngIf="type==2" type="button" class="btn btn-success">Travel</button>
        <button *ngIf="type!=3" type="button" class="btn btn-outline-danger" (click)="type=3">Food</button>
        <button *ngIf="type==3" type="button" class="btn btn-danger">Food</button>
        <button *ngIf="type!=4" type="button" class="btn btn-outline-secondary" (click)="type=4">Other</button>
        <button *ngIf="type==4" type="button" class="btn btn-secondary">Other</button>
      </div>

  <!-- <div> class="col-sm"> -->
  <div>
    <div>
      <label class="even" for="description">Description</label>
    </div>
    <textarea id="description" [(ngModel)]="description"></textarea>
  </div>

  <!-- <label for="receipt">Documentation</label>
  <input id="receipt" type="file" [(ngModel)]="receipt"> -->
  <div>
  <button routerLink="/display">Back</button>
  <button (click)='submit()'>Submit</button>
  </div>
</div>