<div class='block' id='login'>
  <h2>Log in</h2>

  <h2 class='problem' *ngIf='loginFailure'>Invalid credentials. Please try again.</h2>

  <div>
  <label class="odd" for='email'>Email</label>
  <input id='email' type='text' [(ngModel)]='email'>
</div>
<div>
  <label class="odd" for='password'>Password</label>
  <input id='password' type='password' [(ngModel)]='password'>
</div>
  <button (click)='login()'>Login</button>

  <p class="even">Not signed up? <span class='odd' routerLink='/signup'>Click here</span></p>
</div>
