<div class="container">
  <h2>Signup</h2>
  <hr>

  <label for='firstName'>First Name</label>
  <input id='firstName' type='text' [(ngModel)]='firstName'>

  <label for='lastName'>Last Name</label>
  <input id='lastName' type='text' [(ngModel)]='lastName'>

  <label for='email'>Email</label>
  <input id='email' type='text' [(ngModel)]='email'>
  
  <label for='username'>Username</label>
  <input id='username' type='text' [(ngModel)]='username'>

  <label for='password'>Password</label>
  <input id='password' type='text' [(ngModel)]='password'> 

  <button (click)='signup()'>Sign Up</button>
</div>