<div class="container">
  <h2>Signup</h2>
  <hr>

  <label for='firstName'>First Name</label>
  <input id='firstName' type='text' [(ngModel)]='firstName'>

  <label for='lastName'>Last Name</label>
  <input id='lastName' type='text' [(ngModel)]='lastName'>

  <label for='email'>Email</label>
  <input id='email' type='text' [(ngModel)]='email'>
  
  <label for='username'>Username</label>
  <input id='username' type='text' [(ngModel)]='username'>

  <h3 class='problem' *ngIf=signupError>Passwords don't match. Please re-enter them.</h3>

  <label for='password'>Password</label>
  <input id='password' type='password' [(ngModel)]='password'>
  
  <label for='reentry'>Re-enter Password</label>
  <input id='reentry' type='password' [(ngModel)]='reentry'>

  <button (click)='signup()'>Sign Up</button>
  <div>
    Already signed up? <span routerLink='/login'>Click here.</span>
  </div>
</div>